h1 {
    text-align: center;
    color: whitesmoke;
    background-color: black;
}

img {
    width: 300px;
}

#weiss {
    width: 100px;
    height: 300px;
    padding-left: 400px;
}

#desWeiss {
    text-align: center;
    color: black;
    background-color: aquamarine;

}

h2 {
    margin-left: 35px;
}
#nameWeiss.row {
    flex-direction: row;
    
}

p {
    margin-right: 1000px;
    margin-left: 35px;
    background-color: rgb(5, 148, 53);
    text-align: center;
}